        .section1{
            margin-top: -420px;
            display: grid;
            grid-template-columns: 3fr 3fr 3fr 3fr;
            gap: 20px;
        }
        body{
            background-color: rgba(246, 185, 52, 0.903);
            font-family: sans-serif;
        }
        .card-1,
        .card-2,
        .card-3,
        .card-4,
        .card-5,
        .card-6,
        .card-7,
        .card-8,
        .card-9,
        .card-10,
        .card-11,
        .card-12,
        .card-13,
        .card-14,
        .card-15,
        .card-16
        {
            background-color: white;
            border: 1px solid black;
            width: 320px;
            height: 400px;
            border: none;
            padding-left: 10px;
        }

        .card-footer,
        .See-More {
            color: rgb(37, 91, 240);
            font-weight: lighter;
            padding-left: 10px;
            font-family: sans-serif;
            font-size: small;
        }

        .row {
            display: grid;
            grid-template-columns: 6fr 6fr;
            grid-gap: 10px;
            margin-top: 15px;
        }

        .row img {
            width: 85%;
            height: 70%;
            margin-left: 15px;
        }

        .card-1 img,
        .card-6 img,
        .card-7 img {
            width: 290px;
            height: 290px;
            margin-left: 10px;
            margin-top: 8px;
        }

        .card-header {
            font-size: 18px;
            font-weight: bold;
            text-align: center;

        }
        .card{
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin-left: 20px;
            

        }
        .card-footer{
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .card-header{
            margin-top: 10px;
            margin-right: 5px;
            font-weight: bold;
            font-size: 20px;
            font-family: sans-serif;
        }
        p{
            margin-top: -2px;
            margin-left: 15px;
            padding-top: -10px;
            font-family: sans-serif;
            font-size: small;
        }
        header{
            display: flex;
            flex-direction: row;
            background-color: #1a222d;
            color: white;
            align-items: center;
            height: 70px;
            gap: 30px;
            margin-top: -10px;
            margin-left: -10px;
            margin-right: -12px;
            position: sticky;
            top: 0;
            padding-top: -15px;
            padding-bottom: -10px;
        }
      .Logo{
        margin-left: 30px;
        margin-top: 10px;
      }
      .image img{ 
        margin-left: -10px;
      }
      .All{
        border: none;
        background-color: #e2e5e9;
        color: rgb(112, 108, 108);
        padding: 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-bottom: 11px;
        border-right: 1px solid grey;
        font-family: sans-serif;
        

      }
      .Sear{
        border: none;
        background-color: white;
        color: grey;
        padding: 10px;
        padding-right: 375px;

        width: 1500px;
      }
      .icon{
        border: none;
        background-color: rgb(235, 192, 83);
        color: rgb(0, 0, 0);
        padding: 10px;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        font-weight: bold;
        padding-right: 13px;
    }
    .Deli{
        font-size: small;
        font-family: sans-serif;
        color: rgb(196, 191, 191);
        margin-left: 15px;
    }
    .Update{
        font-weight: bold;
        font-family: sans-serif;
        font-size: medium;
    }
    .Language{
        font-family: sans-serif;
        font-weight: bold;
        font-size: 15px;

    }
    .Arrow{
        color: grey;
        font-size: 12px;
    }
    .Hello{
        font-size: small;
        font-family: sans-serif;
    }
    .Account{
        font-family: sans-serif;
        font-weight: bold;
        font-size: 15px;
    }
    .bi-cart{
        font-size: 30px;
    }
    .bi-geo-alt{
        font-size: 15px;
    }
    .Cart{
        font-family: sans-serif;
        font-weight: bold;
    }
    /* Sub header */
    nav{
        display: flex;
        flex-direction: row;
        background-color: #2c3545;
        color: white;
        gap: 20px;
        padding: 8px;
        font-family: sans-serif;
        font-size: 14px;
        margin-left: -10px;
        margin-right: -12px;
    }
    .section2{
        display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr;
        gap: 20px;
    }
    .Parent2,
    .Parent5,
    .Parent10 {
        margin-top: 20px;
      
    }
    .Scroll{
        display: flex;
        flex-direction: row;
        gap: 15px;
        overflow-x: scroll;
        padding-left: 15px;
        padding-bottom: 20px;
        margin-right: 15px;
        margin-left: 15px;
    }
    .Header{
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        margin-left: 20px;
       
    }
    /* Cards with scroll */
    .Parent3,
    .Parent4,
    .Parent6,
    .Parent8{
        margin-top: 20px;
        background-color: white;
        margin-left: 20px;
        margin-right: 22px;
        /* padding-right: 15px; */
    }
    .Top{
        background-color: #34495a;
        color: white;
        text-align: center;
        margin-top: 25px;
        padding: 10px;
        padding-top: 13px;
        padding-bottom: 13px;
        margin-left: -10px;
        margin-right: -10px;
        font-family: sans-serif;
        font-size: smaller;
        opacity: 1;
    }
     .Top:hover {
        opacity: 0.9;
     }
     .Footer1{
        display: flex;
        justify-content: space-around;
        /* display: grid;
        grid-template-columns: 3fr 3fr 3fr 3fr; */
        background-color: #242f3e;
        color: white;
        padding-bottom: 25px;
        padding-top: 40px;
        padding-left: 200px;
        padding-right: 200px;
        margin-left: -10px;
        margin-right: -10px;
        font-family: sans-serif;
        font-size: small;
        line-height: 25px;
        /* justify-content: center; */
    }
    .know{
       text-align: left;
    }
    .connect{
        text-align: left;
    }
    .money{
        text-align: left;
    }
    .help{
        text-align: left;
    }
    .footer2{
        display: flex;
        gap: 30px;
        background-color:  #242f3e;
        margin-left: -10px;
        margin-right: -10px;
        border-top: 1px solid grey;
        padding: 40px;
        justify-content: center;
        padding-top: 30px;
        font-family: sans-serif;
    }
    .Amazon-logo{
        padding: 2px;
        justify-content: center;
        text-align: center;
        margin-top: 2px;
        margin-right: 50px;
    }
    .Language2{
        color: white;
        font-weight: 100;
        border: 1px solid grey;
        border-radius: 3px;
        padding: 1px;
        height: 25px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: small;
    }
    .India{
         color: white;
        font-weight: 100;
        border: 1px solid grey;
        border-radius: 3px;
        padding: 1px;
        height: 25px;
        width: 80px;
        margin-left: -23px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: small;
    }
    button{
        color: white;
        background-color: rgb(219, 24, 24);
        border: 1px solid  rgb(219, 24, 24);
        border-radius: 2px;
        padding: 4px;
    }
    .Red{
        color: rgb(219, 24, 24);
        font-size: small;
        font-weight: bold;
    }
    strike{
        color: grey;
        font-size: small;
    }
    .Info{
        margin-left: -10px;
    }
    .Poster{
        background-color: white;
        padding: 5px;
        /* padding-right: -30px; */
        margin-top: 20px;
        margin-right: 23px;
        margin-left: 17px;
    }
   .Poster img{
        /* margin-left: 50px; */
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 8px;
        /* justify-items: center; */
   }
   button2{
    border: 1px solid rgb(239, 208, 52);
    border-radius: 20px;
    padding: 5px;
    background-color:  rgb(230, 132, 72);
   }
   .bi-star-half,
   .bi-star,
   .bi-star-fill{
    color: goldenrod;
   }
   .Parent9{
    background-color: white;
    margin-top: 20px;
    display: flex;
    gap: 60px;
    padding: 50px;
    justify-content: center;
    margin-left: 250px;
    margin-right: 250px;
   }
   .Content{
    line-height: 30px;
    font-family: sans-serif;
   }
   .Rating{
    margin-top: -10px;
   }
   .Cost{
    font-size: x-large;
   }
   .Discription{
    font-weight: lighter;
   }
   .Arrow-right{
    height: 100px;
    background-color: rgb(251, 251, 251);
    width: fit-content;
    /* padding: 10px; */
    font-size: 40px;
    color: grey;
    border-radius: 4px;
    /* box-shadow: 2px 2px 1px black; */
    /* box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2); */
     box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    display: flex;
    /* position: fixed;
    top: 0;
    right: 0; */
   }
   .Arrow-left{
    height: 100px;
    background-color: rgb(251, 251, 251);
    width: fit-content;
    /* padding: 10px; */
    font-size: 40px;
    color: grey;
    /* border: 1px solid grey; */
    /* box-shadow: 2px 2px 1px black; */
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    align-items: center;
    display: flex;
    /* position: fixed;
    top: 0;
    right: 0; */
    /* color: #333; */
    /* transition: all 0.3s ease; */
    /* opacity: 1px; */
   }
   .mobiles{
    display: flex;
    align-items: center;
    justify-content: space-between;
   }